@model ADASO_AgreementApp.Models.Entity.Maill
@{
    ViewBag.Title = "AddMail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}



@using (Html.BeginForm("AddMail", "Agreement", FormMethod.Post))
{
    <!-- Gizli alan: AId'yi form verilerine dahil eder -->

<form class="form-group" method="post" style="margin-left:15px;">
    @*<div>
            <label>Sözleşme ID</label>
            @Html.TextBoxFor(m => m.AId, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.AId, "", new { @style = "color:blue" })
        </div>
        <br />*@
       @Html.HiddenFor(m => m.AId)
   
    <div>
        <label> Adı</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @style = "color:blue" })
    </div>
    <br />
    <div>
        <label>Soyadı</label>
        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Surname, "", new { @style = "color:blue" })
    </div>
    <br />
    <div>
        <label>Email</label>
        @Html.TextBoxFor(m => m.MailAdress, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MailAdress, "", new { @style = "color:blue" })
    </div>
    <br />
    <div>
        <label>Telefon</label>
        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", })
        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @style = "color:blue" })
    </div>
    <br />


    <div style="margin-top:10px">
        <button id="btn" class="btn btn-info">Ekle</button>
    </div>


</form>
}
